@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,500;1,700;1,800&display=swap');

body, h1, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    
    background-color: #1c1c1c;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

section {
    
    width: 55%;
    margin: 50px auto;

}

section h1 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(#0000, #0000, #0000, 0.5);
    letter-spacing: 1px;
    font-size: 2rem;
    color: #fff;
}

section ul {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 2px solid rgba (255, 255, 255, 0.5);
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;

 

}

section ul li {
    list-style: none;
    background-color: #ece3e3e1;
    border-radius: 4px;
    padding: 5px 5px;
    margin: 0 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

section ul li.active {
    background-color: #0695e7;
    border-radius: 4px;

}

.product {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product img {
    width: 200px;
    height: 180px;
    margin-bottom: 10px;
    border: solid 5px #fff;
    border-radius: 4px;
}










